*, *::after, *::before  {
    box-sizing: border-box;
}
html {
    box-sizing: inherit;
}
body {
    background-color: var(--violet);
    background-image: url('images/bg-mobile.svg');
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;    
    margin: 0;
    padding: 0;
    line-height: 1.2;
    color:white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
@media (min-width: 50rem) {
    body {
        background-color: var(--violet);
        background-image: url('images/bg-desktop.svg');
        background-size: 121%;
        background-position: 0% top;
        background-repeat: no-repeat;
    }
}
@media (min-width: 67rem) {
    body {
        background-color: var(--violet);
        background-image: url('images/bg-desktop.svg');
        background-size: 100%;
        background-position: 0% top;
        background-repeat: no-repeat;
    }
}
:root {
    --violet: hsl(257, 40%, 49%);
    --smagenta: hsl(300, 69%, 71%);
}
a, a:visited, a:hover {
    text-decoration: none;
}
button, .button {
    cursor: pointer;
    color: var(--violet);
    background-color: white;
    border: none;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
button:hover, .button:hover {
    color: white;
    background-color: var(--smagenta);
}
@media (min-width: 47rem) {
    button, .button {
        width: 30%;
    }
}

/** Classes */
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.padding-all {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
    padding-top: 2.8125rem;
}
@media (min-width: 47rem) {
    .nav {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
        padding-left: 4.8125rem;
        padding-right: 4.8125rem;
    }
}
    .nav img {
        height: 38px;
    }
.introductory {
    padding-top: 0;
    margin-bottom: 40px;
}
@media (min-width: 47rem) {
    .introductory {
        display: flex;
    }
}
    .introductory-image {
        background-image: url('images/illustration-mockups.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 417px;
    }
    .introductory-text {
        text-align: center;
    }
    @media (min-width: 47rem) {
        .introductory-text {
            text-align: unset;
            padding-left: 2.8125rem;
            padding-right: 2.8125rem;
        }
    }
        .introductory-text h1 {
            
        }
        @media (min-width: 47rem) {
            .introductory-text h1{
                padding-right: 15rem;
            }
        }
        .introductory-text p {
            margin-bottom: 40px;
            line-height: 1.5;
        }
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
@media (min-width: 47rem) {
    footer{
        justify-content: end;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 0;
        padding-bottom: 40px;
    }
    footer img {
        height: 30px;
    }
    footer a:not(:last-child) {
        margin-right: 40px;
    }
}
    footer img {
        border-radius: 50px;
        height: 50px;
    }